.idea/
/resources/aws-keys

.terraform/

*.tfstate
*.tfstate.*


crash.log
crash.*.log



override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info


# Ignore CLI configuration files
.terraformrc
terraform.rc

/render-tf.sh
/render-yml.sh
/rendered.tf
/rendered-yml.yml
/rendered.yml
